html {
  font-family: Lora, serif;
}

body {
  background-image: url("../images/plant.jpg");
}

.masthead {
  background-image: url("../images/SVG/leaf.svg");
  background-color: #588477;
  border-top: 4px solid #2d5a4d;
  border-bottom: 4px solid #2d5a4d;
  background-size: 18px auto;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  border: 4px solid #2d5a4d;
  border-radius: 8px;
  background-color: #467366;
}

.nav a:hover {
  background-color: #fff;
  color: #145b1d;
  background-image: url("../images/SVG/leaf.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px auto;
}

.banner {
  color: #fff;
}

.banner-content {
  background-image: url("../images/SVG/2-leaves.svg");
  background-size: 70px;
  background-repeat: no-repeat;
  padding-top: 6em;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
