html {
  font-family: Lora, serif;
}

body {
  background: linear-gradient(to bottom, rgba(16, 52, 41, 0), rgba(16, 52, 41, .8)), url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
}

.masthead {
  background-image: url("../images/leaf-bg.svg");
  background-color: #588477;
  border-top: 3px solid #2d5a4d;
  border-bottom: 3px solid #2d5a4d;
  background-size: 50px auto;
  margin-bottom: 12em;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  border: 3px solid #2d5a4d;
  border-radius: 8px;
  background-color: #467366;
}

.nav a:hover {
  background-color: #fff;
  color: #145b1d;
  background-image: url("../images/leaf-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px auto;
}

.banner {
  color: #fff;
}

.banner-content {
  padding-top: 7em;
  background-image: url("../images/two-leaves.svg");
  background-size: 100px;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
