html {
  font-family: Lora, serif;
}

body {
  background-image: url("../images/plant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(16, 52, 41, .8));
}

.masthead {
  background-image: url("../images/svg/leaf.svg");
  background-color: #588477;
  border-top: 3px solid #2d5a4d;
  border-bottom: 3px solid #2d5a4d;
  background-size: 20px auto;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  border: 4px solid #2d5a4d;
  border-radius: 8px;
  background-color: #467366;
}

.nav a:hover {
  background-color: #fff;
  color: #145b1d;
  background-image: url("../images/svg/leaf.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px auto;
}

.banner {
  color: #fff;
}

.banner-content {
  padding-top: 7em;
  background-image: url("../images/svg/2-leaves.svg");
  background-size: 90px;
  background-repeat: no-repeat;
  margin-top: 9em;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
